{
"plugins": [
       "react"
   ],
   "parserOptions": {
       "ecmaVersion": 6,
       "sourceType": "module",
       "ecmaFeatures": {
           "jsx": true
       }
   },
   "env": {
       "es6":     true,
       "browser": true,
       "node":    true,
       "mocha":   true
   },
   "extends": [
       "eslint:recommended",
       "plugin:react/recommended"
   ],
   "rules": {
       "react/destructuring-assignment": 1,
       "react/no-typos": "error",
       "react/no-unescaped-entities": "error",
       "react/prefer-es6-class": 1,
       "react/sort-comp": 1,

   }
}
